body {
  height: 100%;
  margin: 0;
  font-family: Ubuntu;
  background: #bbccff;
  flex: 1 0 auto;
}

#header {
  height: 100px;
  background: #bbcccc;
  color: #000000;
}

#headerContent {
  padding-top: 10px;
  margin-left: 100px;
  color: deepskyblue;
  font-size: large;
}

#page {
  display: flex;
  height: calc(100vh - 70px);  
}

#sideBar {
  height: 100%;
  width: 250px;
  background: #cccccc repeat-y scroll top left;
  text-align: center;
}

#content {
  background: linear-gradient(#b3ffab, #67fffc);
  flex: 1 0 auto;
  padding: 10px;
  /* enable grow, disable shrink */
}
